
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.aboutusheader {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.aboutusparagraph{
    text-align: justify; 
    padding-left: 40px;
    padding-right: 40px;
}

p {
    line-height: 1.6;
}
